*, *::after, *::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.carousel{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.carousel > ul{
    padding: 0;
    margin: 0;
    list-style: none; 
}
.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}
.slide > img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.slide li{
    position: relative;
}
.slide h1{
    color: rgba(0, 0, 0, 0.7);
    font-size: 76px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.slide[data-active]{
    opacity: 1;
    z-index: 1;
    transition: 0ms;
}
.carousel-button{
    position: absolute;
    background: none;
    border: none;
    font-size: 4rem;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.5);
    border-radius: 0.25rem;
    padding: 0 0.5rem;
    background: rgba(0, 0, 0, 0.1 );
    transition: 0.5s;
    cursor: pointer;
}
.carousel-button:hover, .carousel-button:focus{
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
}
.carousel-button:focus{
    border: 1px solid black;
}
.carousel-button.prev{
    left: 1rem;
}
.carousel-button.next{
    right: 1rem;
}