*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(23, 48,122,0.5), rgba(122, 46, 36,0.5)), url("./banner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    padding: 0;
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5) ;
    width: 600px;
    height: 600px;
    margin: auto;
    /* justify-content: center; */
    align-items: center;
    border-radius: 8px;
    box-sizing: border-box;
}
.container h1{
    color: rgb(27, 27, 219);
    font-family: sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 50px 0 45px;
}
.form-container form{
    width: 100%;
}
form > div{
    width: 100%;
}
.form-container input, .form-container select{
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    outline: none;
    border: none;
    background: rgb(204, 204, 204);
    font-size: 16px;
    color: rgb(6, 6, 233);
}
.form-container select{
    cursor: pointer;
}
.form-container select option{
    background: #fff;
    padding: 10px;
}
.form-container select option:hover{
    cursor: pointer;
}
.form-container input::placeholder{
    color: rgb(104, 104, 177);
}
form button{
    width: 100%;
    margin-top: 30px;
    padding: 20px 50px;
    border-radius: 8px;
    border: 2px solid rgb(27, 27, 219);
    background: transparent;
    color: rgb(27, 27, 219);
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 600;
}
form button:hover{
    border: 2px solid rgb(27, 27, 219);
    background:rgb(27, 27, 219);
    color: #fff;
}
form .name, form .gen-x-col{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    width: 100%;
}
form label{
    color: rgb(104, 104, 177);
}
/* .button{
    width: 100%;
    display: flex;
    justify-content: center;
} */
.colour input{
    height: 50px;
    cursor: pointer;
}
.dob input{
    cursor: pointer;
}
.nav-link{
    background: rgb(6, 6, 233);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 45px;
}
.nav-link a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.nav-link span{
    color: rgb(247, 152, 9);
}
/* =====sign in============ */
.si-container{
    padding: 0;
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    box-shadow: 4px 4px 10px rgba(100, 100, 100, 0.5) ;
    width: 600px;
    height: 600px;
    margin: auto;
    align-items: center;
    border-radius: 8px;
}
@media (max-width: 700px)
.si-form-container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}
.si-container h1{
    color: rgb(27, 27, 219);
    font-family: sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 50px 0 10px;

}
.si-container p{
    color: #333;
    margin-bottom: 50px;
    font-size: 18px;
}
.si-container div{
    width: 100%;
    margin-bottom: 25px;
}
.si-form-container input{
    padding: 20px;
    margin-bottom: 10px;
    width: 100%;
    outline: none;
    border: none;
    background: rgb(204, 204, 204);
    font-size: 16px;
    color: rgb(6, 6, 233);
}
.si-form-container input::placeholder{
    color: rgb(104, 104, 177);
}

.si-form-container a{
    text-decoration: none;
    color: rgb(6, 6, 233);
    padding: 0 5px;
}

/* =============success page=============== */
.suc-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    color: rgb(3, 3, 143);
}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
